{{#unless task.isTitleEdit}}
    <label for="tla-task-mark-button-{{inc 1 index}}" class="tla-button tla-task-mark-button" {{action "checkedTask" task}}>
        <input type="checkbox" id="tla-task-mark-button-{{inc 1 index}}" name="tla-task-mark-button-{{inc 1 index}}">
        <span class="tla-task-mark-button-checked"></span>
    </label>
{{/unless}}

{{yield}}