<div class="tla-flex tla-task-status-wrapper">
    <div class="tla-task-status-to-finish">
        <span class="tla-task-status-title">{{t "toFinish"}}</span>:
        <span class="tla-task-status-count">0</span>
    </div>
    <div class="tla-task-status-done">
        <span class="tla-task-status-title">{{t "done"}}</span>:
        <span class="tla-task-status-count">0</span>
    </div>
    <div class="tla-task-status-total">
        <span class="tla-task-status-title">{{t "total"}}</span>:
        <span class="tla-task-status-count">0</span>
    </div>
</div>

{{yield}}