<div class="tla-task-list">
    {{#each this.model as |task index|}}
        <div id="tla-task-{{inc 1 index}}" data-task-id="{{task.id}}" class="tla-flex tla-task{{if task.isDone ' tla-task-done' ''}}{{if task.isNewTask ' tla-task-new' ''}}">
            <div class="tla-group tla-flex">
                {{task-mark-checkbox task=task index=index}}
                {{task-title-edit task=task index=index}}                              
            </div>
            {{task-deletion-button task=task}}
        </div>
    {{else}}
        <div class="tla-no-tasks-message">{{t "cleanBoard"}} :)</div>
    {{/each}}
</div>

{{yield}}