<div class="tla-flex tla-task-title-wrapper{{if task.fieldErrorText ' tla-error' ''}}">
    <span class="tla-task-counter">{{inc 1 index}}.</span>
    {{#unless task.isTitleEdit}}
        <span class="tla-task-title tla-button" {{action "editTaskTitle" task}}>{{task.title}}</span>
    {{else}}
        <span>
            {{input type="text" value=task.title class="tla-task-title-form" focus-out=(action "exitEditTitleMode" task) keyUp=(action "keyUp")}}
            {{#if task.fieldErrorText}}
                <div class="tla-error-message">{{t task.fieldErrorText}}</div>
            {{/if}}
        </span>
    {{/unless}}
</div>
{{yield}}