{{#if isTranslationMenu}}
<div class="tla-translation-menu">
  {{#each selections as |model|}}
    <div class={{if model.active "active"}} {{action "changeLocale" model.locale}}>
      {{model.locale}}
    </div>
  {{/each}}
</div>

{{yield}}
{{/if}}