<div id="tla-page" class="tla-theme-light">
    <header id="tla-header">
        <div class="tla-container">
            {{translation-menu-bar}}
            <div class="tla-flex tla-tasks-head">
                <span class="tla-tasks-head-title">{{t "tasks"}}</span>
                {{task-creator-button}}
            </div>
        </div>
    </header>
    <main id="tla-main">
        <div class="tla-container">
            {{task-area-wrapper model=this.model}}
        </div>            
    </main>
    <footer id="tla-footer">
        <div class="tla-container">
            {{task-status-bar}}
        </div>
    </footer>
</div>

{{outlet}}