* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: arial;
    background: #e5e5e5;
}

html, body, .ember-view, #tla-page, #tla-main, #tla-main > .tla-container, .tla-tasks-area-wrapper, .tla-task-list {
    height: 100%;
}

#tla-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tla-header {

    > .ember-view {
        height: auto;
    }

}

#tla-main{
    overflow: hidden;
}

.tla-container {
    max-width: 1024px;
    margin: 0 auto;
}

.tla-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tla-button {
    cursor: pointer;
}

.tla-error {

    .tla-task-title-form {

        color: #de6060;
        border: 2px solid #de6060 !important;

    }

    .tla-error-message {

        padding: 10px 0px;
        color: #de6060;

    }

}

.tla-no-tasks-message {
    padding: 20px;
}

.tla-tasks-area-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    background: #e5e5e5;
}

.tla-tasks-head {
    padding: 10px 20px;
    background-image: linear-gradient(#ebd08b, #d2811e);
    border-radius: 5px;
    box-shadow: 0 5px 7px -4px #2f2f2f;
}

.tla-add-task-button {

    width: 30px;
    height: 30px;
    padding: 20px;
    background: gray;
    background-image: linear-gradient(#fff, #a8b3bc);
    border-radius: 5px;
    position: relative;

    > * {
        width: inherit;
        height: inherit;
        border: 1px solid;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

}

.tla-task-list {
    overflow-y: scroll;

    &:empty {
        padding: 20px;

        &:after {
            content: 'Board is clean :)';
        }

    }

}

.tla-tasks-placeholder-message {
    padding: 20px;
}

.tla-task {
    padding: 20px;
    color: #000;
    border-bottom: 1px solid;
    background: #fff;

    &:nth-child(even) {
        background: #f3f6e3;
    }

    &.tla-task-done {

        .tla-task-mark-button {

            input + .tla-task-mark-button-checked {
                display: block;
            }

        }

        .tla-task-title-wrapper {
            color: #747474;
            text-decoration: line-through;
        }

    }

    &.tla-task-title-edit {

        .tla-task-title-form {
            display: block;
            background: none;
        }

        .tla-task-title {
            display: none;
        }

    }

    .tla-task-mark-button {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        background: #f0f0f0;
        border: 1px solid #ccc;
        position: relative;

        input {
            display: none;
        }

    }

    .tla-task-title-form {
        padding: 5px;
        font-size: 16px;
        color: #555;
        border: 1px solid #ccc;
    }

}

.tla-group {

    > .ember-view:first-child {
        padding-left: 0;
    }

    > * {
        padding-right: 0;
        padding-left: 20px;

        &:first-child {
            padding-right: 0;
        }

    }

}

.tla-task-mark-button-checked {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background: #747474;
    border: 1px solid #747474;
}

.tla-task-delete {
    font-size: 20px;

    &-button {
        font-weight: bold;
        font-size: 20px;
    }

}

.tla-task-status-wrapper {
    width: 100%;
    padding: 20px;
    background: #fff;
}

.tla-task-status-count {
    font-weight: bold;
}

.tla-translation-menu {
    background: #464646;
    color: #fff;
    display: flex;
    padding: 10px 20px;
    justify-content: center;

    > * {
        padding: 0 10px;
        cursor: pointer;

        &.active {
            font-weight: bold;
        }
    }
}