[lang="he-il"], .tla-rtl {
    
    direction: rtl;

    .tla-theme-light { 

        .tla-translation-menu {

            flex-direction: row-reverse;

        }

        .tla-group {

            > * {

                padding-right: 20px;
                padding-left: 0;

                &:first-child {

                    padding-right: 0;

                }

            }

        }   

        .tla-task-title-wrapper {

            .tla-task-counter {

                padding-right: 0;
                padding-left: 10px;

            }

        }


    }

}