 
.tla-theme-light {

    $white: #ffffff;
    $gray: #cccccc; 
    $dark-gray: #5a5959;
    $light-gray: #bdbdbd;
    $light-gray-2: #eceaea;
    $light-gray-3: #dcdcdc;

    .tla-translation-menu {

        background: $white;
        border: 1px solid $gray;
        border-top: none;

        > * {

            color: $dark-gray;

        }

    }

    .tla-tasks-head {

        border-radius: 0;
        background: $light-gray-3;
        color: $dark-gray;
        border-bottom: 1px solid $gray;
        box-shadow: none;

        .tla-tasks-head-title {

            color: $dark-gray;
            font-size: 30px;

        }

        .tla-add-task-button {

            padding: 0;
            border-radius: 50%;
            background: $white;

            > * {

                border-width: 2px;



            }
        }

    }

    .tla-task {

        color: $dark-gray;
        border-color: $gray;

        &:nth-child(even){

            background: $light-gray-2;

        }

        &:last-child {

            border-bottom: none;

        }

        .tla-task-title-wrapper {

            .tla-task-counter {

                padding-right: 10px;

            }

        }

        &.tla-task-done {

            .tla-task-title-wrapper {

                color: $light-gray;
                text-decoration: none;

                .tla-task-title {

                    text-decoration: line-through;

                }

            }

        }

        .tla-task-mark-button-checked {
            
            background: $light-gray;
            border: 1px solid $light-gray;

        }

    }

    .tla-task-status-wrapper {

        background: $light-gray-3;
        color: $dark-gray;
        border-top: 1px solid $gray;

    }

}